.navbar {
	width: 100%;
}

.container {
	display: flex;
	align-items: center;
	padding: 15px;
	font-size: 1.2em;
	font-weight: 700;
	justify-content: space-between;
	width: 80%;
	margin: auto;
}

.navbar .logo img {
	width: 150px;
}
.navbar .userLinks {
	display: flex;
	width: 10%;
	justify-content: space-between;
	align-items: center;
}

.icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #004eec;
}

.icon p {
	font-size: 0.8em;
	margin-top: 3px;
	color: black;
}

@media (max-width: 768px) {
	.container {
		width: 100%;
		margin: 0;
		flex-direction: column;
	}

	.navbar .navLinks {
		width: 100%;
		justify-content: center;
	}

	.navbar .userLinks {
		margin-top: 20px;
		width: 50%;
	}
}
